<!-- for each user in the user data base show name -->
<!-- for (var feeling of emotions){
	 //   feeling.userID  and userID  -->
<!DOCTYPE html>
<html lang="en">
  <head>    
     <link href="/public/css/stylesheet.css" rel="stylesheet" type="text/css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<title> Index page </title>
 	</head>
	<body class="background container">
		<div>
		<h1 id="h1"> Here are all your saved feelings, <span style="text-transform: capitalize;"> <%= username %> </span>.</h1>
		<form action = "/users" method = "GET"> 
			<button type="submit" id="mood"> &#10094;  </button>
		</form>

		<form action = "/emotions/comment" method = "GET"> 
			<button type="submit" id="comment">Add a comment</button>
		</form>

		<form action = "/emotions/month" method = "GET"> 
			<button type="submit" id="calendar">See the calendar</button>
		</form>
		<br><br><br><br>
		<table class="table table-bordered table-striped">
			<tr id="align">
			<th><h4 class="text-center"><b>Feeling</b></h2></th>
			<th><h4 class="text-center"><b>Time</b></h2></th>
			</tr>

			<%for (var feeling of emotions){%> 
				<% if (userID == feeling.userID){ %>
					<% if(feeling.number==1){%>
					<% var arr=feeling.time%>
					<%console.log("                                                                                                                                THIS IS ARR                        " + arr)%>

							<tr class="success">
							<td><img src="/public/img/<%= feeling.number %>.svg" alt="" class="smileydisp"/></td>
							<td><time><%= feeling.time.toLocaleDateString("en-us") + " " + feeling.time.toLocaleTimeString("en-us") %></time></td>
							</tr>
					<% } %>	


					<% if(feeling.number==2){%>
							<tr class="warning">
							<td><img src="/public/img/<%= feeling.number %>.svg" alt="" class="smileydisp"/></td>
							<td><time><%= feeling.time.toLocaleDateString("en-us") + " " + feeling.time.toLocaleTimeString("en-us")  %></time></td>
							</tr>
					<% } %>	
					<% if(feeling.number==3){%>
							<tr class="danger">
							<td><img src="/public/img/<%= feeling.number %>.svg" alt="" class="smileydisp"/></td>
							<td><time><%= feeling.time.toLocaleDateString("en-us") + " " + feeling.time.toLocaleTimeString("en-us") %></time></td>
							</tr>
					<% } %>	

				<% } %>	
			<% } %>

		</table>



		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
	</body>
</html>
